<div class="container">
  <div class="vertical-center">
    <div class="container">
      <br>
      <div class="row">
        <div class="col-sm-offset-2 col-sm-8">
          <div class="panel panel-default">
            <div class="panel-heading">
              {{vm.g.getMainTitle()}}
            </div>
            <div class="panel-body">
              <form>
                <div class="form-group">
                  <label for="inputPassword1">
                    {{vm.g.getPasswordLabel()}}
                  </label>
                  <input type="password" class="form-control"
                         ng-model="vm.passwd"
                         id="inputPassword1" placeholder="{{vm.g.getPasswordLabel()}}...">
                </div>
                <button type="submit" class="btn btn-primary pull-right text-capitalize"
                        ng-click="vm.doEnter()">{{vm.g.getEnterLabel()}}
                </button>
              </form>
            </div>
          </div>
          <div ng-if="vm.p.hasFailed()" class="row">
            <div class="col-sm-12">
              <div class="alert alert-danger" role="alert">{{vm.g.getErrorCreds()}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-2"></div>
    </div>
  </div>

</div>
</div>
